<div class="index">
  <h1>Vos courses livrées à domicile</h1>

  <div class="shops">
    <% if @shops.nil? || @shops.empty? %>
      <span>Aucune épicerie n'est disponible en ce moment. Veuillez revenir plus tard.</span>
    <% else %>
      <%= render @shops %>
    <% end %>
  </div>
</div>